<!DOCTYPE html>

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>My Secrets</title>
   <link rel="stylesheet" href="/static/css/main.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<body>
   <div class="container">
      <header>
         <!-- Show a welcome message with the username -->
       <h2 class="logo2">Welcome {{ username }}!</h2>  
          <nav class="navigation">
             <a href="/">Home</a>
              <a href="About">About</a>
              
              <a href="Contact">Contact</a>
              
              

          </nav>
          <form action="/logout">
            <button type="submit" class="btnlogout">Logout</button>
          </form>
      </header>

      {% block content %}{% endblock %}

  </div>

  
   
    
   
  <div class="container">
   <div class="form-container">
     <form action="/manage_password" method="post">
      
      
 

  
   <div class="container">
      
      <div class="login-header">Last Login: </div>
      
      <div class="login-list">
      
        {% for login in last_login %}
      
          <div class="login-item" style="display: inline-block;">{{ login }}</div>
      
        {% endfor %}
      
        
      
      </div>

      <div class="table-container">
        
         <input type="password" name="password">
        
         <button type="submit">Save</button>
       </form>
       
     </div>

          <div style="height: 380px; overflow-y: auto;">
              <table class="password-table">
                  <thead>
                      <tr>
                          <th>My Passwords:</th>
                      </tr>
                  </thead>
                  <tbody>
                     {% for secret in all_secrets %}
                         <tr>
                             <td>{{ loop.index }}</td>
                             <td>
                                 {% if secret.editable %}
                                    
                                 {% else %}
                                     {{ secret.geheimen }}
                                 {% endif %}
                             </td>
                             <td>
                              <form action="/edit_secret" method="post">
                                 <input type="hidden" name="secret_id" value="{{ secret.geheimen }}">
                                 <input type="text" name="new_value" placeholder="New Value">
                                 <button type="submit">Edit</button>
                             </form>
                             
                             </td>
                             <td>
                                 <form action="/delete_secret" method="post">
                                     <input type="hidden" name="secret_id" value="{{ secret.geheimen }}">
                                     <button type="submit">Delete</button>
                                 </form>
                             </td>
                         </tr>
                     {% endfor %}
                 </tbody>                 
              </table>
            
          </div>
          {% if msg %}
          <div class="message" style="color: white;">{{ msg }}</div>
      {% endif %}
         </div>
      





  <script src="/static/js/script.js"></script>
  <!-- Ionicons ECMAScript Module -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script> 
</body>
</html>